<section class="project-section">
  <div class="container">
    <div class="project-section__top">
      <h2 class="title project-section__title">
        Browse our selected projects
        and learn more about our work
      </h2>

      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn project-section__prev slider-btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn project-section__next slider-btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper project-section__slider swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="project-item" href="#">
            <img class="project-item__img" src="img/project-1.webp" alt="Project cover">
            <div class="project-item__content">
              <h3 class="project-item__title">Red Finger Building</h3>
              <span class="project-item__descr">Business Centers</span>
              <div class="project-item__btn btn btn--stroke">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="project-item" href="#">
            <img class="project-item__img" src="img/project-2.webp" alt="Project cover">
            <div class="project-item__content">
              <h3 class="project-item__title">Cubes Building</h3>
              <span class="project-item__descr">Business Centers</span>
              <div class="project-item__btn btn btn--stroke">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="project-item" href="#">
            <img class="project-item__img" src="img/project-3.webp" alt="Project cover">
            <div class="project-item__content">
              <h3 class="project-item__title">The Pencil Building</h3>
              <span class="project-item__descr">Stores & Malls</span>
              <div class="project-item__btn btn btn--stroke">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="project-item" href="#">
            <img class="project-item__img" src="img/project-3.webp" alt="Project cover">
            <div class="project-item__content">
              <h3 class="project-item__title">The Pencil Building</h3>
              <span class="project-item__descr">Stores & Malls</span>
              <div class="project-item__btn btn btn--stroke">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="project-item" href="#">
            <img class="project-item__img" src="img/project-3.webp" alt="Project cover">
            <div class="project-item__content">
              <h3 class="project-item__title">The Pencil Building</h3>
              <span class="project-item__descr">Stores & Malls</span>
              <div class="project-item__btn btn btn--stroke">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="project-item" href="#">
            <img class="project-item__img" src="img/project-3.webp" alt="Project cover">
            <div class="project-item__content">
              <h3 class="project-item__title">The Pencil Building</h3>
              <span class="project-item__descr">Stores & Malls</span>
              <div class="project-item__btn btn btn--stroke">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="project-section__learn learn-more">
      <h4 class="learn-more__subtitle">
        Explore all our works
      </h4>
      <a class="btn-reset btn learn-more__btn btn--fill" href="#">View portfolio</a>
    </div>
  </div>
</section>
