<section class="services-section">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="descr descr--center">
      Createx Construction Bureau is&nbsp;a&nbsp;construction giant with a&nbsp;full range
      of&nbsp;construction services.
    </p>

    <ul class="services-list services-section__list">
      <li class="services-list__item">
        <a class="services-item services-item--construction" href="#">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#construction"></use>
            </svg>
            <h3 class="services-item__title">Construction</h3>
          </div>
        </a>
      </li>
      <li class="services-list__item">
        <a class="services-item" href="#">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#plan"></use>
            </svg>
            <h3 class="services-item__title">Project Development</h3>
          </div>
        </a>
      </li>
      <li class="services-list__item">
        <a class="services-item" href="#">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#pantone"></use>
            </svg>
            <h3 class="services-item__title">Interior Design</h3>
          </div>
        </a>
      </li>
      <li class="services-list__item">
        <a class="services-item" href="#">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#painting"></use>
            </svg>
            <h3 class="services-item__title">Repairs</h3>
          </div>
        </a>
      </li>
    </ul>

    <div class="services-section__learn learn-more">
      <h4 class="learn-more__subtitle">
        Learn more about our services
      </h4>
      <a class="btn-reset btn learn-more__btn btn--fill" href="#">View services</a>
    </div>
  </div>
</section>
